@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --dark-blue: #30343E;
    --aqua: #80CECE;
    --gray: #EDEDF7;
}

* {
    background-color: var(--gray);
    color: var(--dark-blue);
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    background-color: var(--aqua);
    color: var(--dark-blue);
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 33px;
    padding-left: 53px;
    padding-right: 10px;
}

nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 30px;
    
}

header a {
    color: var(--aqua);
    background-color: transparent;
    margin-right: 13px;
    padding-left: 5px;
    font-size: 18px;
    text-decoration: none;
    padding-right: 5px;
    border-bottom: solid;
}

.sub-header {
    position: relative;
    margin-bottom: 2%;
}

.sub-header img {
    width: 100%;
    height: auto;
}

.sub-header h3 {
    position: absolute;
    right: 50px;
    bottom: 26px;
    background-color: var(--aqua);
    font-size: 33px;
    color: var(--dark-blue);
    padding: 10px;
}

.about-section, .work-section, .contact-section {
    display: flex;
    margin-bottom: 70px;
}

.about-me, .about-work, .contact-title {
    flex: 25%;
    border-right: solid;
    border-color: var(--dark-blue);
    padding-right: 2%;
    color: var(--dark-blue);
    font-size: 32px;
    text-align: right;
}

.bio, .contact-links {
    flex:75%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.contact-links a {
    text-decoration: none;
    border-bottom: solid;
}

.contact-section {
    margin-bottom: 20px;
}

.projects {
    flex: 75%;
    padding-left: 5%;
    padding-right: 5%;
}

/* .secondary-projects-wrapper {
    display: flex;
} */

.secondary-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primary-project {
    position: relative;
}

.primary-project img {
    width: 99%;
    height: auto;
}

/* .primary-project h3 {
    position: absolute;
    left: 67%;
    bottom: 26px;
    background-color: var(--aqua);
    font-size: 33px;
    color: var(--dark-blue);
    padding: 10px;
} */

.secondary-project {
    position: relative;
}

/* .secondary-project h3, .primary-project h3 {
    position: absolute;
    left: 0;
    bottom: 22px;
    background-color: var(--aqua);
    font-size: 22px;
    color: var(--dark-blue);
    padding: 10px;
} */

.title {
    position: absolute;
    left: 0;
    bottom: 22px;
    background-color: var(--aqua);
    font-size: 22px;
    color: var(--dark-blue);
    padding: 10px;
    line-height: 27px;
}

.title h3, .title p {
    background-color: transparent;
}

.title p {
    font-size: 16px;
    font-weight: lighter;
}

.projects img {
    border: solid;
    border-width: 4px;
    border-color: var(--aqua);
    margin-bottom: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    background-color: var(--dark-blue);
    opacity: 20%;
}

.secondary-project .overlay {
    height: 96%;
}

.overlay:hover {
    opacity: 0%;
}



/* .primary-project img::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: var(--dark-blue);
    opacity: 50%;
} */

@media only screen and (max-width: 755px) {
    header {
      flex-direction: column;
      padding-top: 10px;
    }

    .work-section {
        flex-direction: column;
    }

    .primary-project img {
        width: 100%;
    }

    .secondary-project img {
        width: 100%;
        height: auto;
    }

    .about-work h2 {
        text-align: center;
        border-bottom: solid;
        border-color: var(--dark-blue);
        margin-bottom: 20px;
    }

    .about-section, .contact-section {
        flex-direction: column;
    }

    .about-me, .contact-links {
        padding: 0;
        border: none;
        border-bottom: solid;
        border-color: var(--dark-blue);
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .contact-title {
        text-align:center;
        border-bottom: solid;
    
    }

    .contact-links{
        flex-direction: column;
        border-bottom: none;
        line-height: 30px;
    }

    .contact-links a {
        padding-top: 30px;
    }

    .secondary-projects {
        justify-content: center;
    }

    .overlay {
        width: 101%;
    }

    .secondary-project .overlay {
        width: 102%;
        height: 95%;
    }
  }

  @media only screen and (max-width: 430px) {
    nav a {
      font-size: 14px;
    }
  }